{% macro form_layout_grid(properties={}, modifier={}) -%}
<div class="fd-layout-grid{{ modifier.block | modifier('form-layout-grid') }}">
    {% for item in properties.items -%}
        {{ item | trim | indent(4, true) }}
    {%- endfor -%}
</div>
{%- endmacro %}
